@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
.App {
  text-align: center;
  /*background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);*/
  background-color: #252B43;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

.App-header {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin:auto;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: calc(7px + 1vmin);
  color: white;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: white;
}

.App-header h2 {
  margin: 10px auto;
  font-size: 1em;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  padding: 5px 25px 10px 25px;
  max-width: 25%;
  margin:10px;
}

.movie h2 {
  font-size: 1em;
}

.movie p {
  font-size: 0.8em;
  line-height: 0;
}

.poster {
  width: 240px;
  height: 360px;
  border-radius: 10px;
  filter: brightness(60%);
  transition: 0.5s;
  cursor: pointer;
}
.poster:hover {
  filter: brightness(100%);
  transform: scale(1.05);
}
.errorMessage {
  margin: auto;
  font-weight: bold;
  color: #ff7675;
}

.searchContainer{
  width: 100%;
  background-color: #252B43;
  padding:10px;
  margin: 20px 0;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 130px;

}

.addContainer{
  width: 50%;
  background-color: #252B43;
  padding:20px;
  margin: 5px 0;
}

.add {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
  margin-left: 650px;
}


input[type="submit"] {
  padding: 10px;
  background-color: yellow;
  color: black;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
  font-size: 1.1em;
}


input[type="submit"]:hover {
  background-color: black;
  color: white
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
  font-size: 1.2em;
  transition: 0.2s;
  padding:0 5px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #eee;
  color: white;
}

.search > input[type="text"]:focus{
  font-size: 1.6em;
  outline: none;
  border-bottom: 1px solid white;
}

.rating{
  width: 100%;
  background-color: #252B43;
  padding:10px;
  margin: 20px 0;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}


@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    margin: auto;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Source+Sans+Pro:400,700&display=swap');

.form-box {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 80%;
    margin-top: 30px;
    height: 60%;
}

form {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    align-items: flex-start;
}

.input-box {
    padding: 10px;
    margin: 5px 0px;
    border: 1px dashed #dddddd;
    width: 100%;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.input-box.desc {
    height: 80px;
    border: 1px dashed #dddddd;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

label {
    margin-bottom: 0px;
    margin-top: 15px;
    color: rgb(107, 107, 107);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.rating-choice {
    margin-top: 10px;
    margin-left: 10px;
}

.submit-button {
    width: 150px;
    padding: 10px;
    background-color: rgb(12, 143, 148);
    align-self: flex-end;
    border-radius: 50px;
    font-size: 13px;
    margin-top: 20px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.submit-button:hover {
    cursor: pointer;
}

.close-button {
  width: 150px;
  padding: 10px;
  background-color: rgb(177, 89, 89);
  align-self: flex-end;
  border-radius: 50px;
  font-size: 13px;
  margin-top: 20px;
  text-transform: uppercase;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.close-button:hover {
  cursor: pointer;
}

.inputValue {
    align-self: flex-end;
    font-size: 12px;
}